@import "../../theme.scss";

.emailInput {
  border: 1px solid $secondary-color;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  &:focus {
    border: 1px solid $primary-color;
    outline: none;
  }
}

.error {
  margin-top: 0.5rem;
  color: $primary-color;
  font-weight: bold;
}

.icon {
  color: $primary-color;
  font-size: 40px;
  cursor: pointer;
}
